* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF-Pro-Text, "Myriad Set Pro", SF-Pro-Icon, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

:root {
  user-select: none; }

@font-face {
  font-family: SF-Pro-Text;
  src: url(../assets/fonts/sf-pro-text_regular.woff2); }

@font-face {
  font-family: SF-Pro-Display;
  src: url(../assets/fonts/sf-pro-text_regular.woff2); }

@font-face {
  font-family: SF-Pro-Icon;
  src: url(../assets/fonts/sf-pro-icons_regular.woff2); }

@font-face {
  font-family: SF-Pro-Display-Semibold;
  src: url(../assets/fonts/sf-pro-display_semibold.woff2); }

@font-face {
  font-family: SF-Pro-Text-Semibold;
  src: url(../assets/fonts/sf-pro-text_semibold.woff2); }

.wrapper {
  overflow: hidden; }

.headline {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.07143;
  letter-spacing: -0.2rem;
  margin-top: 20px;
  font-feature-settings: "kern";
  font-family: SF-Pro-Text, SF-Pro-Icon,"Helvetica Neue","Helvetica","Arial",sans-serif; }

.subhead {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.12rem;
  margin-top: 5px;
  font-feature-settings: "kern"; }

.cta-links {
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: -0.05rem;
  font-family: SF-Pro-Display, SF-Pro-Icon,"Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 0.6rem;
  transform: translateX(15px); }
  .cta-links a {
    text-decoration: none;
    padding-right: 35px;
    color: #0066cc; }

.top-nav {
  width: 100vw;
  background: rgba(0, 0, 0, 0.92);
  position: fixed;
  top: 0;
  z-index: 1000; }
  .top-nav-lst {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    list-style: none;
    line-height: 42px;
    margin: 0 auto; }
    .top-nav-lst li {
      padding: 0 21px;
      position: relative; }
    .top-nav-lst li:first-child {
      padding-left: 0; }
    .top-nav-lst li a {
      font-weight: 400;
      opacity: 0.8;
      font-size: 12px;
      letter-spacing: -0.12px;
      text-decoration: none;
      color: #FFFFFF; }
    .top-nav-lst .apple-icon {
      background-image: url(../assets/icons/globalnav_apple_image__b5er5ngrzxqq_large.svg);
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 44px;
      position: absolute;
      left: 0;
      transform: translateX(-11px); }
    .top-nav-lst .search-icon {
      background-image: url(../assets/icons/globalnav_search_image__cbllq1gkias2_large.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 44px;
      position: absolute;
      left: 0;
      margin-left: 15px; }
    .top-nav-lst .bag-icon {
      background-image: url(../assets/icons/globalnav_bag_image__yzte50i47ciu_large.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 44px;
      position: absolute;
      left: 0;
      margin-left: 30px; }

.holiday-adv {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  color: #FFFFFF;
  background: #E34140;
  padding: 13px 0;
  max-width: 2560px;
  margin: auto;
  margin-top: 42px; }
  .holiday-adv p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -0.374px; }
    .holiday-adv p a {
      text-indent: 3px;
      text-decoration: none;
      color: white; }
      .holiday-adv p a span {
        font-family: SF-Pro-Icon; }

.grid {
  width: 2560px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(7, auto);
  grid-gap: 12px;
  position: relative;
  left: 50%;
  transform: translateY(-12px) translateX(-50%); }
  .grid .landing-page {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #EEEFFE; }
    .grid .landing-page .top-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center; }
      .grid .landing-page .top-content .apple-gift-logo {
        background-image: url(../assets/images/logo__dcojfwkzna2q_large_2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 88px;
        min-width: 70px;
        margin-top: 37px; }
    .grid .landing-page .bottom-content {
      display: flex;
      justify-content: center;
      padding-top: 37px;
      margin-bottom: 28px;
      height: 420px;
      transform: translateX(20px); }
      .grid .landing-page .bottom-content figure {
        width: 370px;
        height: 370px;
        margin-right: 40px; }
      .grid .landing-page .bottom-content figure:nth-child(1) {
        background-image: url(../assets/images/macbook__d0g7o7oqt282_large_2x.png);
        background-repeat: no-repeat;
        background-size: contain; }
      .grid .landing-page .bottom-content figure:nth-child(2) {
        background-image: url(../assets/images/ipadmini__f0pd6cilwaie_large_2x.png);
        background-repeat: no-repeat;
        background-size: contain; }
      .grid .landing-page .bottom-content figure:nth-child(3) {
        background-image: url(../assets/images/ipadair__fkr21evsr6a2_large_2x.png);
        background-repeat: no-repeat;
        background-size: contain; }
  .grid .iphone-13-pro {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    height: 690px;
    background-image: url(../assets/images/hero_iphone_13pro__dhnsegysa42u_largetall.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: -250px -60px; }
    .grid .iphone-13-pro-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin-top: 35px; }
  .grid .iphone-13 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    height: 690px;
    background-image: url(../assets/images/hero_iphone_13__f194u1rdooeq_largetall.jpg);
    background-size: 3010px 736px;
    background-repeat: no-repeat;
    background-position: -225px -45px; }
    .grid .iphone-13-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin-top: 35px; }
    .grid .iphone-13 .headline {
      color: white; }
    .grid .iphone-13 .subhead {
      color: #fec2eb; }
  .grid .macbook {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    position: relative;
    height: 580px; }
    .grid .macbook-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      right: 0;
      background-image: url(../assets/images/tile_macbookpro__cx0ur0qg9biq_large.jpg); }
    .grid .macbook h4 {
      font-size: 40px;
      padding-top: 40px; }
    .grid .macbook h5 {
      font-size: 21px; }
    .grid .macbook .cta-links {
      font-size: 17px; }
  .grid .watch {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    position: relative;
    height: 580px; }
    .grid .watch-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      left: 0;
      background-image: url(../assets/images/tile_watch__e9n11b6m6yq2_large.jpg); }
    .grid .watch .new-text {
      color: #C65E20;
      font-size: 12px;
      padding-top: 40px; }
    .grid .watch img {
      padding: 10px; }
    .grid .watch h5 {
      font-size: 21px; }
    .grid .watch .cta-links {
      font-size: 17px; }
      .grid .watch .cta-links a sup {
        font-size: 10.2px; }
  .grid .homepod {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
    position: relative;
    height: 580px; }
    .grid .homepod-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      right: 0;
      background-image: url(../assets/images/tile_homepod_mini__b73w4z3ljymu_large.jpg); }
    .grid .homepod h4 {
      font-size: 40px;
      padding-top: 40px; }
    .grid .homepod .cta-links {
      font-size: 17px; }
  .grid .arcade {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
    position: relative;
    height: 580px; }
    .grid .arcade-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      left: 0;
      background-image: url(../assets/images/tile_lego_castaways__d2v36ez91ewm_large.jpg); }
    .grid .arcade h4 {
      font-size: 40px;
      padding-top: 40px; }
    .grid .arcade h5 {
      font-size: 21px; }
    .grid .arcade .cta-links {
      font-size: 17px; }
      .grid .arcade .cta-links a sup {
        font-size: 10.2px; }
  .grid .card {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
    position: relative;
    height: 580px; }
    .grid .card-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      right: 0;
      background-image: url(../assets/images/tile__cauwwcyyn9hy_large.jpg); }
    .grid .card h4 {
      font-size: 40px;
      padding-top: 40px; }
    .grid .card h5 {
      font-size: 21px;
      text-align: center; }
    .grid .card .cta-links {
      font-size: 17px; }
  .grid .tv {
    grid-row: 7 / span 1;
    grid-column: 2 / span 1;
    position: relative;
    height: 580px; }
    .grid .tv-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      left: 0;
      background-image: url(../assets/images/promo_dickinson__c9ea4l2f5rki_large.jpg); }
    .grid .tv h4 {
      font-size: 40px;
      padding-top: 40px;
      color: white;
      padding-bottom: 280px; }
    .grid .tv a {
      padding-top: 10px;
      text-decoration: none;
      color: white; }

.footer {
  width: 100vw;
  background: #F5F5F7; }
  .footer .details {
    width: 980px;
    margin: 0 auto;
    padding: 17px 0; }
    .footer .details ul {
      list-style: none; }
    .footer .details ul li {
      padding-bottom: 9.6px; }
    .footer .details p {
      color: #6e6e73;
      font-feature-settings: "kern";
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
    .footer .details hr {
      margin-top: 10px;
      color: #6e6e73;
      border-top: transparent;
      opacity: 0.3; }
  .footer .directory-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    width: 980px;
    margin: 0 auto; }
    .footer .directory-grid .shop-and-learn {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1; }
    .footer .directory-grid .services {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1; }
    .footer .directory-grid .account {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      padding-top: 325px; }
    .footer .directory-grid .apple-store {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1; }
    .footer .directory-grid .for-business {
      grid-row: 1 / span 1;
      grid-column: 4 / span 1; }
    .footer .directory-grid .for-education {
      grid-row: 1 / span 1;
      grid-column: 4 / span 1;
      padding-top: 90px; }
    .footer .directory-grid .for-healthcare {
      grid-row: 1 / span 1;
      grid-column: 4 / span 1;
      padding-top: 210px; }
    .footer .directory-grid .for-government {
      grid-row: 1 / span 1;
      grid-column: 4 / span 1;
      padding-top: 330px; }
    .footer .directory-grid .apple-values {
      grid-row: 1 / span 1;
      grid-column: 5 / span 1; }
    .footer .directory-grid .about-apple {
      grid-row: 1 / span 1;
      grid-column: 5 / span 1;
      padding-top: 220px; }
    .footer .directory-grid ul {
      list-style: none; }
    .footer .directory-grid ul li {
      padding: 3px 0; }
    .footer .directory-grid ul li:first-child {
      font-weight: 600;
      color: black;
      font-size: 12px; }
    .footer .directory-grid ul li a {
      font-size: 12px;
      text-decoration: none;
      color: #424245; }
  .footer .footer-bottom {
    width: 980px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    position: relative;
    color: #6e6e73; }
    .footer .footer-bottom .ways-to-shop a {
      color: #0066cc;
      text-decoration: none; }
    .footer .footer-bottom hr {
      margin: 10px 0;
      color: #6e6e73;
      border-top: transparent;
      opacity: 0.3; }
    .footer .footer-bottom .copyright {
      position: absolute;
      left: 0; }
    .footer .footer-bottom .legal-nav-lst {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-left: 60px; }
    .footer .footer-bottom .legal-nav-lst li {
      margin-right: 10px;
      border-right: #6e6e73 solid 1px;
      padding-right: 10px; }
      .footer .footer-bottom .legal-nav-lst li a {
        text-decoration: none;
        color: #424245; }
    .footer .footer-bottom .legal-nav-lst li:last-child {
      border-right: transparent; }
    .footer .footer-bottom .region {
      position: absolute;
      right: 0;
      bottom: 30px;
      text-decoration: none;
      color: #424245; }
