* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF-Pro-Text, "Myriad Set Pro", SF-Pro-Icon, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

@font-face {
  font-family: SF-Pro-Text;
  src: url(../assets/fonts/sf-pro-text_regular.woff2); }

@font-face {
  font-family: SF-Pro-Display;
  src: url(../assets/fonts/sf-pro-text_regular.woff2); }

@font-face {
  font-family: SF-Pro-Icon;
  src: url(../assets/fonts/sf-pro-icons_regular.woff2); }

.wrapper {
  overflow: hidden; }

.headline {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.07143;
  letter-spacing: -0.2rem;
  margin-top: 20px;
  font-feature-settings: "kern";
  font-family: SF-Pro-Text, SF-Pro-Icon,"Helvetica Neue","Helvetica","Arial",sans-serif; }

.subhead {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.112px;
  margin-top: 10px;
  text-align: center;
  font-feature-settings: "kern"; }

.cta-links {
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: -0.05rem;
  font-family: SF-Pro-Text, SF-Pro-Icon,"Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 0.65em; }
  .cta-links a {
    text-decoration: none;
    color: #0066cc; }
  .cta-links span {
    font-family: SF-Pro-Icon; }

.top-nav {
  max-width: 100vw;
  background: #141414;
  position: sticky;
  top: 0; }
  .top-nav-lst {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    list-style: none;
    line-height: 44px;
    margin: 0 auto; }
    .top-nav-lst li {
      width: fit-content;
      opacity: 0.8;
      font-size: 12px;
      letter-spacing: -0.12px;
      padding: 0 20px;
      position: relative; }
    .top-nav-lst .apple-icon {
      background-image: url(../assets/icons/globalnav_apple_image__b5er5ngrzxqq_large.svg);
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 44px;
      position: absolute;
      left: 0; }
    .top-nav-lst .search-icon {
      background-image: url(../assets/icons/globalnav_search_image__cbllq1gkias2_large.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 44px;
      position: absolute;
      left: 0;
      margin-left: 15px; }
    .top-nav-lst .bag-icon {
      background-image: url(../assets/icons/globalnav_bag_image__yzte50i47ciu_large.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 44px;
      position: absolute;
      left: 0;
      margin-left: 30px; }

.holiday-adv {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  color: #FFFFFF;
  background: #E34140;
  padding: 13px 0;
  max-width: 2560px;
  margin: auto; }
  .holiday-adv p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -0.374px; }
    .holiday-adv p a {
      text-indent: 3px;
      text-decoration: none;
      color: white; }
      .holiday-adv p a span {
        font-family: SF-Pro-Icon; }

.grid {
  width: 2560px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(7, auto);
  grid-gap: 12px;
  position: relative;
  left: 50%;
  transform: translateY(-12px) translateX(-50%); }
  .grid .landing-page {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: #FBEDF9; }
    .grid .landing-page .top-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      height: 245px; }
      .grid .landing-page .top-content .apple-gift-logo {
        background-image: url(../assets/images/logo__dcojfwkzna2q_large_2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 88px;
        min-width: 70px;
        margin-top: 29px; }
    .grid .landing-page .bottom-content {
      display: flex;
      justify-content: center;
      margin-top: 26px;
      height: 420px; }
      .grid .landing-page .bottom-content figure {
        width: 409px;
        height: 348px; }
      .grid .landing-page .bottom-content figure:nth-child(1) {
        background-image: url(../assets/images/ipadair__fkr21evsr6a2_large_2x.png);
        background-size: 359px 348px;
        border-image-repeat: stretch;
        background-repeat: no-repeat;
        background-size: contain; }
      .grid .landing-page .bottom-content figure:nth-child(2) {
        background-image: url(../assets/images/ipadmini__f0pd6cilwaie_large_2x.png);
        background-size: 100% 348px;
        border-image-repeat: stretch;
        background-repeat: no-repeat;
        background-size: contain; }
      .grid .landing-page .bottom-content figure:nth-child(3) {
        background-image: url(../assets/images/macbook__d0g7o7oqt282_large_2x.png);
        background-size: 359px 348px;
        border-image-repeat: stretch;
        background-repeat: no-repeat;
        background-size: contain; }
  .grid .iphone-13-pro {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    height: 736px;
    background-image: url(../assets/images/hero_iphone_13pro__dhnsegysa42u_largetall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -250px 0; }
    .grid .iphone-13-pro-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin-top: 55px; }
    .grid .iphone-13-pro .cta-links {
      width: 200px;
      display: flex;
      justify-content: space-between; }
  .grid .iphone-13 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    height: 736px;
    background-image: url(../assets/images/hero_iphone_13__f194u1rdooeq_largetall.jpg);
    background-size: 3010px 736px;
    background-repeat: no-repeat;
    background-position: -200px 0; }
    .grid .iphone-13-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin-top: 55px; }
    .grid .iphone-13 .cta-links {
      width: 200px;
      display: flex;
      justify-content: space-between; }
  .grid .macbook {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    position: relative;
    height: 580px; }
    .grid .macbook-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      right: 0;
      background-image: url(../assets/images/tile_macbookpro__cx0ur0qg9biq_large.jpg); }
    .grid .macbook .cta-links a:nth-child(2) {
      margin-left: 28px; }
  .grid .watch {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    position: relative;
    height: 580px; }
    .grid .watch-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      left: 0;
      background-image: url(../assets/images/tile_watch__e9n11b6m6yq2_large.jpg); }
    .grid .watch .cta-links a:nth-child(2) {
      margin-left: 28px; }
  .grid .homepod {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
    position: relative;
    height: 580px; }
    .grid .homepod-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      right: 0;
      background-image: url(../assets/images/tile_homepod_mini__b73w4z3ljymu_large.jpg); }
    .grid .homepod .cta-links a:nth-child(2) {
      margin-left: 28px; }
  .grid .arcade {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
    position: relative;
    height: 580px; }
    .grid .arcade-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      left: 0;
      background-image: url(../assets/images/tile_lego_castaways__d2v36ez91ewm_large.jpg); }
    .grid .arcade .cta-links a:nth-child(2) {
      margin-left: 28px; }
  .grid .card {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
    position: relative;
    height: 580px; }
    .grid .card-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      right: 0;
      background-image: url(../assets/images/tile__cauwwcyyn9hy_large.jpg); }
    .grid .card .cta-links a:nth-child(2) {
      margin-left: 28px; }
  .grid .tv {
    grid-row: 7 / span 1;
    grid-column: 2 / span 1;
    position: relative;
    height: 580px; }
    .grid .tv-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      height: 580px;
      width: calc(min(50vw, 100%));
      left: 0;
      background-image: url(../assets/images/promo_dickinson__c9ea4l2f5rki_large.jpg); }
    .grid .tv .cta-links a:nth-child(2) {
      margin-left: 28px; }

.footer {
  width: 100vw;
  background: #F5F5F7; }
  .footer .details {
    width: 980px;
    margin: 0 auto; }
    .footer .details ul {
      list-style: none; }
    .footer .details ul li {
      padding-bottom: 9.6px; }
    .footer .details p {
      color: #6e6e73;
      font-feature-settings: "kern";
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
